@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&display=swap');

$font-family-sans-serif:'Poppins', sans-serif;





// All Custom Codes

body{
  background-color: #f6f6f6 !important;
  width: 100vw;
  min-height: 100vh;
}

.li-bar{
  width: 1px;
  background-color: #c5c4c4;
  height: 1rem;
}

.nav-icon {
  color: rgba(0, 0, 0, 0.55);
  font-size: 1.3rem;
}
.nav-item{
  cursor: pointer;
}

.custom-droopdown{
  position: relative;
}
.custom-droopdown:hover ul{
  display: block;
}
.custom-droopdown ul{
  display: none;
  min-width: 100px;
  position: absolute;
  z-index: 100;
  background: #fff;
  box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
  padding: 1rem;
  border-radius: 0.15rem;
  margin-top: 0.5rem;
  
}

// carousel

#main-carousel{

  
  .carousel-inner{
    width: 100%;
    height: 500px;
  
  }

  .carousel-item{
    height: 100%;
    
  }
  .carousel-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
    
    
    div{
      flex: 1;
    }
  
  }

  .carousel-text h1{
    font-size: 72px;
    line-height: 97px;
    margin: 15px 0 38px;
    color: #010101;
  }
  .btn-cta{
    padding: 0.8rem 3rem;
    outline: none;
    border: 1px solid #000;
    border-radius: 0;
    
  }

  
  .carousel-image{
    display: flex;
    justify-content: flex-start;
  }



  // .carousel-control-prev,
  // .carousel-control-next {
  //   filter: invert(100%);
  // }
 
  
  .carousel-control-prev{
    left: -120px;
  }
  .carousel-control-next{
    right: -120px;
  }

  
}


// Featured Banner Css

  .single-banner{
    border: 4px solid #fff;
    position: relative;
    overflow: hidden;
    margin: 6rem 0;

    img{
      width: 100%;
      transition: all .5s ease 0s;
      transform: scale(1);
    }

    .banner-content{
      position: absolute;
      top: 64px;
      left: 25px;

      h3 {
        margin: 0;
        font-family: Cormorant Garamond;
        font-weight: 600;
        font-size: 36px;
        line-height: 30px;
        color: #617d05;
      }

      h4 {
        margin: 3px 0 58px;
        font-family: cormorant garamond;
        font-size: 18px;
        color: #212529;
        font-weight: 600;
        line-height: 24px;
  
        span {
          display: inline-block;
          color: #617d05;
          margin-left: 2px;
          line-height: 1;
          font-size: 20px;
          position: relative;
          top: 2px;
        }
        
       
      }
      a {
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 2px solid #617d05;
        border-radius: 100%;
        color: #617d05;
        text-align: center;
        font-size: 16px;
       }

       a > i {
         line-height: 32px;
       }

    }

  
    &:hover a img{
      transform: scale(1.2);
    }
  }


  // Daily Deals

  .section-title{
    
    h2{
      font-size: 30px;
      font-weight: 600;
      display: inline-block;
      margin: 0;
      line-height: 36px;
      position: relative;
      text-transform: uppercase;

      &:before,
      &:after{
        position: absolute;
        top: 17px;
        width: 80px;
        height: 2px;
        content: "";
        background-color: #000;
      }

      &:before{
        left: -100px;
      }
      &::after{
        right: -100px;
      }

    }
  }

  // Daily Deals Product tab list

  .product-tab-list{
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 55px;

    .nav-link{
      background-color: transparent !important;
      margin: 0 17px;
      display: block;
      padding: 8px 16px;
    }

    a.active h4, a h4:hover{
      color: #000;
    }

    a h4{
      font-size: 18px;
      font-weight: 500;
      margin: 0;
      transition: all 0.3s ease 0s;
      color: #555;
      line-height: 24px;
      
    }
  }

  



  







@import "../node_modules/bootstrap/scss/bootstrap"




