@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap');

$font-family-sans-serif:'Poppins', sans-serif;


@import "../node_modules/bootstrap/scss/bootstrap";

// All Custom Codes

body{
  background-color: #f6f6f6;
  width: 100vw;
  min-height: 100vh;
}

.li-bar{
  width: 1px;
  background-color: #c5c4c4;
  height: 1rem;
}

.nav-icon {
  color: #555555;
  font-size: 1.3rem;
}
.nav-item a{
  color: #555252;
}